.hero__wrapper{
  padding: 50px 15px;
}

.hero__title{
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #4c5866;
}

.hero__description {
  margin: 0;
  margin-bottom: 21px;
  color: #85859b;
  font-size: 14px;
  line-height: 150%;
}

.hero__button{
  box-sizing: border-box;
  display: block;
  padding: 15px 38px;
  text-align: center;
  font-size: 18px;
  color: #7875fe;
  border: 1px solid #7875fe;
  max-width: 144px;
  text-decoration: none;
}

.hero__image{
  display: none;
}
