.page-header{
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;
}

.page-header__wrapper{
  padding: 18px 15px;
  display: flex;
  align-items: center;
}
.page-header__logo{

  display: block;

  padding-top: 11px;
  padding-bottom: 11px;
  border-bottom: 1px solid #dddddd;
}

.page-header__logo-icon {
  display: block;
  margin: 0 auto;
}

.page-header__toggle{
  background-color: transparent;
  background-image: url("../images/hamburger-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  min-width: 21px;
  min-height: 17px;
  display: block;

}

.page-header__search-button{
  display: block;
  margin-left: auto;

}

.page-header__search-icon {
  display: block;
}

.page-header__login-button{
  display: block;
  margin-left: 30px;
}

.page-header__login-icon {
  display: block;
}
