.page-header{
  background-color: #ffffff;
  border-bottom: 1px solid #dddddd;

  &--active{
    border:none;
    background-color: #ebebeb;
  }
}

.page-header__wrapper{

  @media(min-width:576px){
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 33px;
    padding-right: 33px;
    border-bottom: 1px solid #dddddd;
  }

}

.page-header_controls{
  display: flex;
  align-items: center;
  padding: 18px 15px;
  @media(min-width:576px){
    padding: 0;
  }
}
.page-header__logo{

  display: block;
  background-color: #ffffff;
  padding-top: 11px;
  padding-bottom: 11px;
  border-bottom: 1px solid #dddddd;

  @media(min-width: 576px){
    border: none;
  }
}

.page-header__logo-icon {
  display: block;
  margin: 0 auto;
  @media(min-width: 576px){
    margin: 0;
  }
}

.page-header__toggle{
  background-color: transparent;
  background-image: url("../images/hamburger-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  min-width: 21px;
  min-height: 17px;
  display: block;
  position: relative;

  @media(min-width: 576px){
    display: none;
  }
}

.page-header__toggle--active{

  background: none;

  &::before, &::after{
    position: absolute;
    content: '';
    background-color: #4c5866;
    width: 24px;
    height: 2.2px;
    top: 10px;
    bottom: 0;
    left: -2px;
    right: 0;
    border-radius: 2px;
  }

  &::before{
    transform: rotate(45deg);
  }

  &::after{
    transform: rotate(-45deg);
  }

}

.page-header__search-button{
  display: block;
  margin-left: auto;

  &--hidden{
    display: none;
  }

}

.page-header__search-icon {
  display: block;
}

.page-header__login-button{
  display: block;
  margin-left: 30px;

  &--hidden{
    display: none;
  }
}

.page-header__login-icon {
  display: block;
}
