.socials {
  list-style-type: none;
  margin: 0;
  padding: 0;

  padding-top: 23px;
  border-top: 1px solid rgba(221, 221, 221, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;

  @media(min-width: 576px){
    border: none;
    padding: 0;
  }
}

.socials__item{
  margin-right: 30px;

  &:last-child {
    margin: 0;
  }
}

.socials__link {
  color: #ffffff;
  display: flex;
  padding: 3px;
  transition: all 0.5s ease;

  &:hover{
    color: #dad9fb;
  }

  &:focus-visible{
    background-color: #7875fe;
    outline: none;
    transition: none;
    border-radius: 2px;
  }

  &:active{
    color: #7875FE;
    transition: none;
  }
}

.socials__icon{
  fill: currentColor;
  align-self: center;
  display: block;
  margin: 0 auto;
}
